
<!DOCTYPE html>
<html>
<head>
  <title>Project634</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script
  src="http://maps.googleapis.com/maps/api/js">
  </script>
  
  <script>
  function initialize() {
    var mapProp = {
      center:new google.maps.LatLng(51.508742,-0.120850),
      zoom:5,
      mapTypeId:google.maps.MapTypeId.ROADMAP
    };
    var map=new google.maps.Map(document.getElementById("googleMap"), mapProp);
  }
  google.maps.event.addDomListener(window, 'load', initialize);
  </script>
</head>
<body>
Project. Google map is not showing yet.
<div id="googleMap" style="width:500px;height:380px;"></div>

</body>
</html>
